.customModal {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.btn-antifocus:active, .btn-antifocus:focus, .btn-antifocus:focus-visible {
    outline: none;
    box-shadow: none;
}

.rotate-vert-center:hover {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.shadow-drop-br:hover {
    -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-br {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-br {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

.folderAndCategoriesList {
    padding: 25px;
    border-radius: 25px;
    background: linear-gradient(145deg, #939393, #aeaeae);
    box-shadow:  5px 5px 10px #8b8b8b,
    -5px -5px 10px #bbbbbb;
}

.categoryOfFolder {
    padding: 0 10px 0 10px;
    border-radius: 10px;
    color: #ffffff;
}


