<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<head>
    <title>Task page</title>
</head>

  <div layout:fragment="headerNavbar" th:insert="~{navbar.html}">
  </div>

  <div layout:fragment="mainContainer">
  <!--UPDATE TASK BUTTON-->
    <form class="mt-3" th:action="@{'/updateTask'}" method="post">
      <input type="hidden" name="taskId" th:value="${task.taskId}">
      <input type="hidden" name="folderId" th:value="${folder.folderId}">
      <div class="mb-3">
        <label for="taskTitle" class="form-label" th:text="#{detailsTaskTitle} + ':'"></label>
        <input type="text" class="form-control" id="taskTitle" name="taskTitle" th:value="${task.taskTitle}" th:readonly="${!canUpdateTask || currentUser == null}">
      </div>
      <div class="mb-3">
        <label for="taskDescription" class="form-label" th:text="#{detailsTaskDescription} + ':'"></label>
        <textarea class="form-control" id="taskDescription" name="taskDescription" th:text="${task.taskDescription}" th:readonly="${!canUpdateTask || currentUser == null}"></textarea>
      </div>
      <div class="mb-3">
        <label sec:authorize="isAnonymous() || hasAnyRole('ROLE_USER')">
          <span th:text="#{detailsTaskStatus} + ':'"></span>
          <input class="form-control" type="text" name="taskStatus" th:value="${task.taskStatus.statusName}" readonly>
        </label>


        <label sec:authorize="hasAnyRole('ROLE_EDITOR')" th:if="${canUpdateTask}">
          <span th:text="#{detailsTaskStatus}"></span>
          <input class="form-control" type="text" name="taskStatus" th:value="${task.taskStatus.statusName}" th:if="${!canUpdateTask}" readonly>
          <select class="form-select" name="taskStatus">
            <option th:each="taskStatus : ${allTaskStatus}"
                    th:selected="${task.taskStatus.getTaskStatusId() == taskStatus.taskStatusId}"
                    th:value="${task.taskStatus.getTaskStatusId() == taskStatus.taskStatusId} ? ${task.taskStatus.getTaskStatusId()} : ${taskStatus.taskStatusId}"
                    th:text="${task.taskStatus.getTaskStatusId() == taskStatus.taskStatusId} ? ${task.taskStatus.getStatusName()} : ${taskStatus.statusName}">
            </option>
          </select>
        </label>
      </div>
      <button class="btn btn-success" th:if="${canUpdateTask}"
              th:text="#{updateTaskBtn}"
              sec:authorize="hasAnyRole('ROLE_EDITOR')"></button>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTask"
              th:text="#{deleteTaskBtn}"
              sec:authorize="hasAnyRole('ROLE_EDITOR')"></button>
    </form>

  <!--DELETE TASK BUTTON-->
    <form th:action="@{'/deleteTask'}" method="post">
      <input type="hidden" name="taskId" th:value="${task.taskId}">
      <input type="hidden" name="folderId" th:value="${folder.folderId}">
      <div class="modal fade customModal" id="deleteTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" th:text="#{deleteTaskBtn}"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{doYouWantRemoveTask}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{closeBtn}"></button>
              <button class="btn btn-primary" th:text="#{deleteTaskBtn}"></button>
            </div>
          </div>
        </div>
      </div>
    </form>

  <!--COMMENTS-->
    <div class="col-12 mt-3">
      <div class="row mt-3" th:if="${task.taskStatus.getTaskStatusId() != 3 && task.taskStatus.getTaskStatusId() != 4}">
        <button class="btn btn-link text-decoration-none text-dark text-weight-bold"
                style="font-weight: bold;"
                data-bs-toggle="modal" data-bs-target="#addComment"
                th:text="'+ ' + #{addNewComment}"
                sec:authorize="isAuthenticated()">
        </button>

        <form th:action="@{'/addComment'}" method="post">
          <input type="hidden" name="folderId" th:value="${folder.folderId}">
          <input type="hidden" name="taskId" th:value="${task.taskId}">
          <div class="modal fade customModal" id="addComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" th:text="#{addNewComment}"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row mt-2">
                    <label for="commentText" class="form-label" th:text="#{commentText} + ':'"></label>
                    <textarea id="commentText" name="comment" placeholder="I wanna go ..." required></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{closeBtn}"></button>
                  <button class="btn btn-primary" th:text="#{addNewComment}"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-6 mt-3">
        <div class="col-12" th:each="comment : ${commentsByTaskId}" style="padding: 10px; border: 1px solid #6c6c6c; border-radius: 10px;">
          <h5><span style="font-weight: lighter;" th:text="#{authorAddedComment} + ': '"></span><span th:text="${comment.commentAuthor}" style="font-weight: bold;"></span></h5>
          <p th:text="${comment.comment}"></p>
        </div>
      </div>
    </div>
  </div>
</html>