<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html">
<head>
    <title>Folder page</title>
</head>

    <div layout:fragment="headerNavbar" th:insert="~{navbar.html}">
    </div>

    <!--FOLDER CATEGORIES-->
    <div layout:fragment="mainContainer">
        <div class="col-12 mt-3 folderAndCategoriesList">
            <h2 class="text-weight-bold" th:text="${folder.folderName}"></h2>
            <div  class="d-flex">
                <div th:each="category : ${taskCategories}">
                    <div class="bg-primary" style="margin-right: 10px; padding: 0 10px 0 10px; border-radius: 10px; color: #ffffff;">
                        <span th:text="${category.categoriesName}" style="font-size: 10px; font-weight: bold; margin-right: 10px;"></span>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                th:data-bs-target="'#categoryNumber' + ${category.categoriesId}"
                                style="padding: 0;" sec:authorize="hasAnyRole('ROLE_EDITOR')"
                        >
                            x
                        </button>
                    </div>

                    <form th:action="@{'/deleteCategory'}" method="post">
                        <input type="hidden" name="folderId" th:value="${folder.folderId}">
                        <input type="hidden" name="categoriesId" th:value="${category.categoriesId}">
                        <div class="modal fade customModal" th:id="'categoryNumber' + ${category.categoriesId}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:text="#{deleteCategoryBtn}"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" th:text="#{doYouWantRemoveCategory}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                th:text="#{closeBtn}"
                                                sec:authorize="hasAnyRole('ROLE_EDITOR')"></button>
                                        <button class="btn btn-danger" th:text="#{deleteCategoryBtn}"
                                                sec:authorize="hasAnyRole('ROLE_EDITOR')"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--ADD CATEGORY BUTTON-->
            <button class="btn btn-link text-decoration-none text-dark text-weight-bold"
                    style="font-weight: bold;"
                    data-bs-toggle="modal" data-bs-target="#addCategory"
                    th:if="${!allCategories.isEmpty()}"
                    th:text="'+ ' + #{addCategoryToFolder}"
                    sec:authorize="hasAnyRole('ROLE_EDITOR')">
            </button>

            <form th:action="@{'/addCategory'}" method="post">
                <input type="hidden" name="folderId" th:value="${folder.folderId}">
                <div class="modal fade customModal" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="#{assignCategory}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="categorySelect" class="form-label" th:text="#{categoryName} + ':'"></label>
                                <select id="categorySelect" name="categoriesId">
                                    <option th:each="category : ${allCategories}" th:text="${category.categoriesName}" th:value="${category.categoriesId}"></option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{closeBtn}"></button>
                                <button class="btn btn-primary" th:text="#{addCategoryToFolderModal}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--ADD NEW TASK BUTTON-->
        <div class="col-12 mt-3">
            <button type="button"
                    class="btn btn-link text-decoration-none text-dark text-weight-bold"
                    data-bs-toggle="modal"
                    data-bs-target="#addNewTask"
                    style="font-weight: bold;"
                    th:text="'+ ' + #{newTask}"
                    sec:authorize="hasAnyRole('ROLE_EDITOR')">
            </button>

            <form th:action="@{'/addTask'}" method="post">
                <input type="hidden" name="folderId" th:value="${folder.folderId}">
                <div class="modal fade customModal" id="addNewTask"
                     data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="#{addTask}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="newTaskTitle" class="form-label" th:text="#{addTaskName} + ':'"></label>
                                    <input type="text" class="form-control" id="newTaskTitle" placeholder="Title" name="taskTitle">
                                </div>
                                <div class="mb-3">
                                    <label for="newTaskDescription" class="form-label" th:text="#{addTaskDescription} + ':'"></label>
                                    <textarea class="form-control" id="newTaskDescription" placeholder="Description" name="taskDescription"></textarea>
                                </div>
                                <input type="hidden" name="taskStatusId" th:value="${taskStatusList.get(0).taskStatusId}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{closeBtn}"></button>
                                <button class="btn btn-success" th:text="#{addTask}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- ALL TASKS OF FOLDER #?-->
        <div class="col-12 mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" th:text="#{taskName}"></th>
                    <th scope="col" th:text="#{status}"></th>
                    <th scope="col" th:text="#{detailsTitle}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <th scope="row" th:text="${task.taskId}"></th>
                    <td th:text="${task.taskTitle}"></td>
                    <td>
                        <span th:text="${task.taskStatus.getStatusName()}"
                              th:style="${'color: ' + task.taskStatus.getStatusColor() + '; font-weight: bold;'}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/detailsTask/' + ${folder.folderId} + '/' + ${task.taskId}}" class="btn btn-primary btn-antifocus rotate-vert-center" th:text="#{viewMore}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</html>