<nav class="navbar navbar-expand-lg" style="background-color: #0d5e70;">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">trello.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/" th:text="#{allFolders}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{'/allCategories'}" th:text="#{categories}"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-item text-light" th:text="#{chooseLanguage}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{'?language=en'}">EN</a>
            </li>
            <li><a class="dropdown-item" th:href="@{'?language=ru'}">RU</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>